
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.container {
    background-color: #2696aa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 700px;
}

.second {
    color: white;
    font-size: 50px;
    background-color: #2696aa;
    padding: 10px;
    border-color: #121212;
    border-style: solid;
    border-width: 4px;
}
